body {
    margin: 1rem;
    font-family: "Pretendard", sans-serif;
    text-align: center;
    background-color: #fefefe;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ff5f5f;
    color: white;
    transition: 0.2s;
}

button:hover {
    background-color: #ff3838;
}

#timer {
    font-size: 1.4rem;
    color: #333;
    margin: 6px;
    margin-bottom: 8px;
}

#timer.flash {
    color: red;
    animation: flashTimer 0.5s ease-in-out;
}

@keyframes flashTimer {
    0% {
        transform: scale(1);
        color: red;
    }

    50% {
        transform: scale(1.2);
        color: #ff6b6b;
    }

    100% {
        transform: scale(1);
        color: red;
    }
}

.svg-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    place-items: center
}

svg {
    width: 96%;
    border: 3px solid #ccc;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .svg-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        place-items: center
    }
}